.js_wysiwyg {
	border:1px solid gray;
}
.editor {
	width: 500px;
	height: 300px;
}
.toolbar-button {
	padding: 7px;
	border: none;
	background-color: transparent;
}
.toolbar-button:hover {
	border: none;
	background-color: lightgray;
}
.toolbar {
	width: 100%;
	border:1px solid lightgray;
}
.editing-area {
	height: calc(100% - 14px - 1em);
	width: 100%;
	outline: none;
	border: 1px solid black;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}